.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: white;
  min-height: 60px;
  &__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.candidate, .time-remaining {
  padding: 1em;
}

.theme-toggle {
  cursor: pointer;
  border: none;
  padding: 1em;
  min-width: 115px;
}
